# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/
env/
venv/
.env


# Django static & media files
staticfiles/
media/
/staticfiles/

# VSCode config
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
